body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.contaier-fluid {
  text-align: center ;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 3%;
}
.happy{
  padding-top: 5px;
  padding-right: 7%;
  display: flex;
  justify-content: left;
}
   